/* Flex madness ;) */

.deck-side {
    flex: 1;
    min-height: 90vh;
    width: 50vw;
    background: linear-gradient(45deg, #cab7f8 0,#a3e6e2 68%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deck-container {
    width: 80%;
    height: 70vh;
    border-radius: 5px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.deck-controls {
    width: 80%;
    min-height: 4vh;
    height: auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}

.deck-generator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden-card {
    background: rgb(219, 219, 219);
    color: rgb(219, 219, 219);
}

@media screen and (max-width:990px) {
    .deck-side {
        width: 100vw;
        min-height: 80vh;
    }
}

@media screen and (max-width:500px) {
    .deck-side {
        min-height: 80vh;
    }
    .deck-container {
        width: 100vw;
    }
    .deck-controls {
        margin-top: 10px;
        height: 10vh;
    }
}

  